body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 30px;
    
    
    
}
h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
span{
    color: blue;
}
.half-width{
    
    margin-top: 100px;
    margin-left: 100px;
    width: 40%;
    
    
    
}
.full-width{
    border-left: 3px solid red;
    padding-left: 5px;
    border-radius: 5px;
}

.button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    background-image: linear-gradient(orange,tomato);
    line-height: 50px;
}
.paragraph-area{
    width: 50%;
    margin-top: 30px;
}
.div-area{
    display: flex;
}
.paragraph-area img{
    width: 50%;
    margin-top: 30px;
    margin-left: 120px;
}
.display-area{
    display: flex;
    

}
.layout-one img{
   width: 50%;
   margin-left: 20px;
   
}
.layout-two img{
    width: 50%;
    margin-left: 30px;
    
}
.layout-three img{
    width: 50%;
    margin-left: 20px;
}
.layout-one{
    margin-left: 100px;
    margin-top: 10px;
    width: 80%;
    background-color: rgb(194, 165, 113);
    padding-left: 20px;
    border-radius: 10px;
}
.layout-two{
    margin-left: 100px;
    margin-top: 10px;
    width: 80%;
    background-color: hsl(151, 32%, 41%);
    padding-left: 20px;
    border-radius: 10px;
}
.layout-three{
    margin-left: 100px;
    margin-top: 10px;
    width: 80%;
    background-color: hsl(302, 15%, 32%);
    margin-right: 100px;
    padding-left: 20px;
    border-radius: 10px;
}
.midde-section-one img{
    width: 350px;
    margin-top: 70px;
    margin-left: 100px;
}
.middle-section{
    display: flex;
}
.middle-section-two{
    width: 50%;
    padding-left: 60px;
    margin-top: 80px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}